<div id="contact-list" class="text-center">
    <ul class="sidebar-icon">
      {% if site.author.github %}
      <li class="sidebar-icon">
        <a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
          <i class="fa fa-github-alt fa-lg"></i>
        </a>
      </li>
      {% endif %}
      {% if site.author.twitter %}
      <li class="sidebar-icon">
        <a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
      {% endif %}
      {% if site.author.email %}
      <li class="sidebar-icon">
        <a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
          <i class="fa fa-envelope fa-lg"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
